/* Subscribe */
.subscribe__container {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 4rem;
  height: 20rem;
  border-radius: 2rem;
}

.subscribe__text p {
  margin-top: 1.4rem;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .subscribe__container {
    flex-direction: column;
    height: auto;
    gap: 5rem;
    padding: 3rem;
    font-size: 1.2rem;
  }

  .subscribe__container p {
    width: 94%;
  }
}

/* @media sreen and (min-width: 600px) {
} */
