#testimonials h1 {
  text-align: center;
}

.testimonials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background: var(--color-light);
  padding: 3rem;
  font-size: 0.88rem;
  border: 1px solid transparent;
}

.testimonial:hover {
  background: var(--color-white);
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: 0 2rem 2rem var(--color-primary-variant);
}

@media screen and (max-width: 1024px) {
  /* =========== Testimonial =========== */
  .testimonials__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  /* Testimonials */
  .testimonial {
    padding: 1.4rem;
  }
}
